#contenedor{
    height: 300px;
    width: 300px;
    border-style:solid ;
    border-color:black;
    border-width:5px;
    DISPLAY:flex;
    justify-content: flex-end;
}
#Caja1{
    height: 100px;
    width: 100px;
    margin:0%;
    background-color:blue;
    text-align:center;
}
#Caja2{
    height: 100px;
    width: 100px;
    margin:0%;
    background-color:red;
    text-align:center;
}
#Caja3{
    height: 100px;
    width: 100px;
    margin:0%;
    background-color:green;
    text-align:center;
}